@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer {
    padding-top: 5rem;
    &__grid {
        @include m.tablet {
            @include m.grid (3, 2rem);
        }
    }

    &__widget {
        text-align: center;

        &:nth-child(3) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__heading {
        @include m.heading;
        font-size: 3.4rem;
    }

    &__texto {
        line-height: 1.8;
    } 

    
}

.copyright{
    text-align: center;
    font-size: 1.6rem;
    margin: 2rem auto 0 auto;
    max-width: 120rem;
    border-top: 2px solid darken(v.$grisClaro, 10%);
    padding: 2rem 0;
    color: v.$gris;
}